APP_NAME="Reminder Me Bro"
APP_VERSION="V.beta"
APP_URL=http://localhost:3000
PORT=3000

DATABASE_URL="postgresql://postgres:123123123@localhost:5432/remindme"

# WhatsApp Configuration
ADMIN_NUMBERS=6288953xxxxxxxx
DEV_MODE=true

WAHA_URL=
WAHA_API_KEY=
WAHA_SESSION_NAME=default
WAHA_WEBHOOK_HMAC_KEY=
WAHA_WEBHOOK_TOKEN=
WAHA_COMMAND_PREFIX=.

SWAGGER_USER=admin
SWAGGER_PASS=admin123
